@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --font-primary: "Zalando Sans Expanded", sans-serif;
  --font-bold: 600;
  --font-boldish: 500;
  --font-normal: 400;
  --font-thin: 300;
  --color-first: rgb(116, 205, 184);
  --color-second: rgb(255, 255, 255);
  --color-third: rgb(91, 196, 173);
  --color-fourth: rgb(148, 238, 218);
  // --color-small-line: rgba(133, 133, 133, 100%);
  // --color-small-text: rgba(99, 99, 99, 100%);
  // --color-small-icon: rgba(51, 51, 51, 100%);
  // --color-accent: rgba(231, 182, 74, 100%);
  font-size: 16px;
}
