:root {
  --color-bgc: rgb(154, 230, 212);
  --color-first: rgb(116, 205, 184);
  --color-second: rgb(255, 255, 255);
  --color-third: rgb(91, 196, 173);
  --color-fourth: rgb(195, 232, 224);
  --color-fifth: rgb(41, 232, 191);
  --color-accent: rgb(73, 146, 131);
}
