:root {
  --color-bgc: rgb(154, 230, 212);
  --color-first: rgb(116, 205, 184);
  --color-second: rgb(255, 255, 255);
  --color-third: rgb(91, 196, 173);
  --color-fourth: rgb(195, 232, 224);
  --color-fifth: rgb(41, 232, 191);
  --color-accent: rgb(73, 146, 131);
  --color-read: rgb(73, 204, 92);
  --color-read-accent: rgb(0, 145, 22);
  --color-read-hover: rgb(74, 237, 99);
  --color-unread: rgb(190, 81, 53);
  --color-unread-accent: rgb(131, 2, 0);
  --color-unread-hover: rgb(196, 61, 61);
  --color-delete: rgb(196, 116, 91);
}
