@use "../base/typography";
@use "../abstracts/variables";
nav {
  min-width: 8rem;
  padding-top: 30%;
  background-color: var(--color-second);
}

button {
  all: unset;
  margin: 0 1.2rem;
  padding: 0.6rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--color-accent);
  border-radius: 10px;
  background-color: var(--color-third);
  transition-duration: 0.4s;
}
button:hover {
  background-color: var(--color-fifth);
}
